.place__link {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;
  transition: opacity 0.5s ease-out;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}