.footer__useful-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

@media screen and (max-width: 767px) {
  .footer__useful-links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);

  }
}