.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */

  letter-spacing: 0.15em;
  text-transform: uppercase;
  max-width: 984px;
  width: 90%;
  margin: 8px auto 0;

  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    width: 94%;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    width: 90%;
  }
}