@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__useful-links/footer__useful-links.css);

.footer {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 94%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}